body {
  font-family: 'Roboto', sans-serif;
}

.headerdisplay {
  display: flex;
  justify-content: center;
}

.jumbotron {
  text-align: center;
}

.pages, .pageslogo {
  list-style-type: none;
  text-decoration: none;
  font-size: 180%;
  display: inline;
}

.pages a {
  color: #404C05;
  background-color: #9E9302;
  border: 2px solid #753B0E;
  border-radius: 3px;
  padding: 7px;
}

.pages a:hover {
  color: #9E9302;
  background-color: #4F5F06;
  border: 2px solid #753B0E;
  border-radius: 3px;
  padding: 7px;
  text-decoration: none;
}
